@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf"); }
html {
  font-family: Poppins; }

.navBar {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 30px; }
  .navBar img {
    height: 50px;
    position: relative;
    right: 300px; }
  .navBar a {
    text-decoration: none;
    padding: 10px;
    color: #666666; }
  .navBar a:hover {
    color: #e2a19a; }
  .navBar .searchBar {
    text-align: right;
    color: #666666;
    display: flex;
    position: relative;
    left: 280px; }
    .navBar .searchBar i {
      color: #e2a19a; }

.landingPage {
  height: 100vh;
  color: white;
  text-align: center;
  display: flex;
  background-image: url(../img/untitled-0932.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .landingPage h1 {
    font-size: 50px;
    font-weight: 600px;
    font-size: 50px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 53px;
    letter-spacing: normal;
    text-align: center;
    color: #e8e8e8; }
  .landingPage .landingPageContent {
    margin: auto;
    width: 70%; }
    .landingPage .landingPageContent p {
      font-size: 14.5px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.79;
      letter-spacing: normal;
      text-align: center;
      color: #e8e8e8; }
  .landingPage #btn1 {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 600;
    background-color: #e2a19a;
    color: #e8e8e8;
    border: 1px solid white; }
  .landingPage #btn2 {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 600;
    background-color: transparent;
    color: #e8e8e8;
    border: 1px solid white; }
  .landingPage #btn1:hover {
    background-color: #e2a19a;
    width: 180px;
    transition: all 0.5s;
    padding: 5px;
    border: none; }
  .landingPage #btn2:hover {
    width: 180px;
    transition: all 0.5s;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5); }

.whoAreWe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto;
  width: 70%;
  padding: 10% 0 10% 0; }
  .whoAreWe h3 {
    font-size: 24px;
    color: #555555; }
  .whoAreWe #firstParagraph {
    color: #555555;
    font-size: 16px; }
  .whoAreWe img {
    width: 270px;
    height: 213px;
    border: 1px solid black; }
  .whoAreWe .whoAreWeImgs {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px; }
  .whoAreWe button {
    height: 30px;
    width: 130px;
    border-radius: 3px;
    font-family: Poppins;
    background-color: transparent;
    border: 1px solid #666666;
    font-weight: 600; }
  .whoAreWe button:hover {
    width: 150px;
    transition: all 0.5s;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1); }

.courses {
  text-align: center;
  color: white;
  background-color: black; }
  .courses .coursesContent {
    width: 70%;
    padding: 4% 0 4% 0;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    grid-column-gap: 30px; }
  .courses h5 {
    font-size: 20px;
    margin-top: 0; }
  .courses img {
    width: 30%;
    margin: 30px 0 0 0; }

.ourExcitingCourses {
  margin: auto;
  width: 70%;
  padding: 10% 0 2.5% 0; }
  .ourExcitingCourses #headingExcitingCourses {
    display: inline-grid; }
  .ourExcitingCourses img {
    width: 280px;
    height: 200px; }
  .ourExcitingCourses .imgsContainer {
    display: inline-flex; }
    .ourExcitingCourses .imgsContainer #ourExcitingCoursesImgs {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }
  .ourExcitingCourses .spanImg img {
    height: 410px;
    width: 590px; }

.meetOurTeam {
  margin: auto;
  width: 70%;
  padding: 2.5% 0 10% 0; }
  .meetOurTeam #headingMeetOurTeam {
    display: inline-grid; }
  .meetOurTeam img {
    width: 270px;
    height: 250px; }
  .meetOurTeam #meetOurTeamImgs {
    display: grid;
    grid-template-columns: auto auto; }
    .meetOurTeam #meetOurTeamImgs .container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

.stats {
  display: flex;
  text-align: center;
  background-color: black;
  color: white;
  height: 300px; }
  .stats .statsContent {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly; }
    .stats .statsContent h5 {
      border-top: 5px solid #e1918a; }

.subscribe {
  text-align: center;
  padding: 4% 0 4% 0; }
  .subscribe #submitBtn {
    display: inline-flex;
    text-align: center; }
    .subscribe #submitBtn input {
      width: 370px;
      height: 40px;
      background-color: #f9f9f9;
      text-align: left;
      padding-left: 5%;
      border-radius: 3px;
      border: none; }
    .subscribe #submitBtn button {
      width: 100px;
      height: 42px;
      background-color: #e2a19a;
      border-radius: 3px;
      border: none; }

.carousel {
  display: flex;
  align-items: center; }
  .carousel #carouselImgs {
    display: flex;
    background-color: black;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    height: 222px;
    align-items: center; }
  .carousel img {
    height: 27px;
    width: 137px; }

.footerContentContainer {
  background-color: #f9f9f9; }
  .footerContentContainer .footerContact {
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: space-evenly;
    padding: 4% 0 4% 0; }
    .footerContentContainer .footerContact #footerLeft {
      width: 271px; }
    .footerContentContainer .footerContact h3 {
      font-size: 16px;
      margin-bottom: 0; }
    .footerContentContainer .footerContact p {
      font-size: 14px; }
    .footerContentContainer .footerContact #footerRight {
      line-height: 2.5;
      display: flex; }

footer {
  display: inline-flex;
  background-color: pink;
  width: 100%;
  justify-content: space-evenly;
  height: 40px;
  font-size: 14px;
  align-items: center; }
  footer .icons {
    display: inline-flex;
    align-items: center; }
    footer .icons img {
      width: 14px;
      height: 14px;
      padding: 0 10px 0 10px; }

.aboutLandingPage {
  height: 300px;
  background-color: #818181;
  color: #555555;
  text-align: center;
  display: flex; }
  .aboutLandingPage .aboutLandingPageContent {
    margin: auto;
    width: 70%; }
    .aboutLandingPage .aboutLandingPageContent a {
      text-decoration: none;
      color: #e2a19a; }

.welcomeSection {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto;
  width: 70%;
  padding: 10% 0 10% 0; }
  .welcomeSection h3 {
    font-size: 24px;
    color: #555555; }
  .welcomeSection p {
    color: #555555;
    font-size: 16px; }
  .welcomeSection img {
    width: 570px;
    height: 380px;
    border: 1px solid black; }
  .welcomeSection .welcomeSectionImgs {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px; }
  .welcomeSection button {
    height: 30px;
    width: 130px;
    border-radius: 3px;
    font-family: Poppins;
    background-color: #e2a19a;
    font-weight: 600;
    border: none; }
  .welcomeSection button:hover {
    width: 150px;
    transition: all 0.5s;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.1); }

.aboutWhoAreWe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto;
  background-color: #f6f6f6;
  height: 550px; }
  .aboutWhoAreWe .aboutWhoAreWeContent {
    margin-right: 30%; }
  .aboutWhoAreWe img {
    width: 910px;
    height: 550px;
    border: 1px solid black; }
  .aboutWhoAreWe .aboutWhoAreWeImgs {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px; }

.skillsStats {
  text-align: center;
  background-color: black;
  color: white; }
  .skillsStats .skillsStatsContent {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly; }
    .skillsStats .skillsStatsContent hr {
      color: #e2a19a;
      border-radius: 50%; }

.portfolioLandingPage {
  height: 300px;
  background-color: #818181;
  color: #555555;
  text-align: center;
  display: flex; }
  .portfolioLandingPage .portfolioLandingPageContent {
    margin: auto;
    width: 70%; }
    .portfolioLandingPage .portfolioLandingPageContent a {
      text-decoration: none;
      color: #e2a19a; }

.portfolioContent {
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 10% 0 10% 0; }

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  justify-items: center;
  background-color: #818181; }

.column img {
  margin-top: 8px;
  vertical-align: middle; }

.galleryBtn {
  margin: auto;
  width: 70%;
  text-align: center;
  color: grey;
  padding: 50px; }
  .galleryBtn a {
    border: 1px solid grey;
    padding: 8px 16px;
    text-decoration: none; }

.contactLandingPage {
  height: 300px;
  background-color: #818181;
  color: #555555;
  text-align: center;
  display: flex; }
  .contactLandingPage .contactLandingPageContent {
    margin: auto;
    width: 70%; }
    .contactLandingPage .contactLandingPageContent a {
      text-decoration: none;
      color: #e2a19a; }

.contactForm {
  padding: 5% 0 5% 0; }
  .contactForm .form {
    display: flex;
    width: 70%;
    margin: auto;
    grid-column-gap: 50px; }
    .contactForm .form .contactSearchBar input {
      width: 180px;
      margin: 10px 0 10px 0; }
    .contactForm .form .contactMsgBox input {
      height: 170px;
      width: 560px; }

.map {
  width: 100%;
  height: 60vh;
  background-color: grey; }

.coursesLandingPage {
  height: 300px;
  background-color: #818181;
  color: #555555;
  text-align: center;
  display: flex; }
  .coursesLandingPage .coursesLandingPageContent {
    margin: auto;
    width: 70%; }
    .coursesLandingPage .coursesLandingPageContent a {
      text-decoration: none;
      color: #e2a19a; }

.coursesPageContent {
  margin: auto;
  width: 70%;
  text-align: center;
  padding: 10% 0 10% 0; }
  .coursesPageContent .cartItemsColumn1 {
    margin: 2%; }
    .coursesPageContent .cartItemsColumn1 p {
      border: solid 1px #818181;
      padding: 30px; }
    .coursesPageContent .cartItemsColumn1 button {
      height: 30px;
      width: 130px;
      border-radius: 3px;
      font-family: Poppins;
      background-color: #e2a19a;
      font-weight: 600;
      border: none;
      margin-top: 50px; }
  .coursesPageContent .cartItemsColumn2 {
    margin: 2%; }
    .coursesPageContent .cartItemsColumn2 p {
      border: solid 1px #818181;
      padding: 30px; }
    .coursesPageContent .cartItemsColumn2 button {
      height: 30px;
      width: 130px;
      border-radius: 3px;
      font-family: Poppins;
      background-color: #e2a19a;
      font-weight: 600;
      border: none;
      margin-top: 50px; }
  .coursesPageContent .cartItemsColumn3 {
    margin: 2%; }
    .coursesPageContent .cartItemsColumn3 p {
      border: solid 1px #818181;
      padding: 30px; }
    .coursesPageContent .cartItemsColumn3 button {
      height: 30px;
      width: 130px;
      border-radius: 3px;
      font-family: Poppins;
      background-color: #e2a19a;
      font-weight: 600;
      border: none;
      margin-top: 50px; }

.coursesColumns {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  justify-items: center;
  text-align: center; }

/*# sourceMappingURL=main.css.map */
