@font-face {
  font-family: 'Poppins';
  src: url("../fonts/Poppins-Regular.ttf"); }
html {
  font-family: Poppins; }

.navBar a {
  color: #666666; }
.navBar a:hover {
  color: #e2a19a; }
.navBar .searchBar {
  color: #666666; }
  .navBar .searchBar i {
    color: #e2a19a; }

.landingPage {
  color: #f9f9f9; }
  .landingPage h1 {
    color: #e8e8e8; }
  .landingPage .landingPageContent p {
    color: #e8e8e8; }
  .landingPage #btn1 {
    color: #e8e8e8; }
  .landingPage #btn2 {
    color: #e8e8e8; }

.whoAreWe h3 {
  color: #555555; }
.whoAreWe #firstParagraph {
  color: #555555; }

.courses {
  color: #f9f9f9; }

.stats {
  color: #f9f9f9; }

.aboutLandingPage {
  color: #555555; }
  .aboutLandingPage .aboutLandingPageContent a {
    color: #e2a19a; }

.welcomeSection h3 {
  color: #555555; }
.welcomeSection p {
  color: #555555; }

.skillsStats {
  color: #f9f9f9; }
  .skillsStats .skillsStatsContent hr {
    color: #e2a19a; }

.portfolioLandingPage {
  color: #555555; }
  .portfolioLandingPage .portfolioLandingPageContent a {
    text-decoration: none;
    color: #e2a19a; }

.galleryBtn {
  color: #666666; }

.contactLandingPage {
  color: #555555; }
  .contactLandingPage .contactLandingPageContent a {
    text-decoration: none;
    color: #e2a19a; }

.coursesLandingPage {
  color: #555555; }
  .coursesLandingPage .coursesLandingPageContent a {
    color: #e2a19a; }

html {
  font-family: Poppins; }

.navBar {
  text-align: center;
  margin: 0;
  padding: 0;
  padding: 10px;
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 30px; }
  .navBar img {
    height: 50px;
    position: relative;
    right: 300px; }
  .navBar a {
    padding: 10px; }
  .navBar .searchBar {
    display: flex;
    position: relative;
    left: 280px; }

.landingPage {
  height: 100vh;
  display: flex;
  background-image: url(../img/untitled-0932.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  .landingPage .landingPageContent {
    margin: auto;
    width: 70%; }
  .landingPage .homePageBtns {
    display: flex;
    width: 35%;
    margin: auto;
    grid-column-gap: 5%; }
  .landingPage #btn1 {
    display: inline-block;
    width: 150px;
    height: 50px; }
  .landingPage #btn2 {
    display: inline-block;
    width: 150px;
    height: 50px; }
  .landingPage #btn1:hover {
    width: 180px;
    padding: 5px; }
  .landingPage #btn2:hover {
    width: 180px;
    padding: 5px; }

.whoAreWe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto;
  width: 70%;
  padding: 10% 0 10% 0; }
  .whoAreWe img {
    width: 270px;
    height: 213px; }
  .whoAreWe .whoAreWeImgs {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px; }
  .whoAreWe button {
    height: 30px;
    width: 130px; }
  .whoAreWe button:hover {
    width: 150px;
    padding: 5px; }

.courses .coursesContent {
  width: 70%;
  padding: 4% 0 4% 0;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 30px; }
.courses h5 {
  margin-top: 0; }
.courses img {
  width: 35%;
  height: auto;
  margin: 30px 0 0 0; }

.ourExcitingCourses {
  margin: auto;
  width: 70%;
  padding: 10% 0 2.5% 0; }
  .ourExcitingCourses #headingExcitingCourses {
    display: inline-grid; }
  .ourExcitingCourses img {
    width: 280px;
    height: 200px; }
  .ourExcitingCourses .imgsContainer {
    display: inline-flex;
    margin-top: 30px; }
    .ourExcitingCourses .imgsContainer #ourExcitingCoursesImgs {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }
  .ourExcitingCourses .spanImg img {
    height: 417px;
    width: 590px;
    margin-left: 19px; }

.meetOurTeam {
  margin: auto;
  width: 70%;
  padding: 2.5% 0 10% 0; }
  .meetOurTeam #headingMeetOurTeam {
    display: inline-grid; }
  .meetOurTeam img {
    width: 270px;
    height: 250px; }
  .meetOurTeam #meetOurTeamImgs {
    display: grid;
    grid-template-columns: auto auto; }
    .meetOurTeam #meetOurTeamImgs .container {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }

.stats {
  display: flex;
  height: 300px; }
  .stats .statsContent {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-evenly; }

.subscribe {
  padding: 4% 0 4% 0; }
  .subscribe #submitBtn {
    display: inline-flex;
    text-align: center; }
    .subscribe #submitBtn input {
      width: 370px;
      height: 40px;
      padding-left: 5%; }
    .subscribe #submitBtn button {
      width: 100px;
      height: 42px; }

.carousel {
  display: flex;
  align-items: center; }
  .carousel #carouselImgs {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: space-evenly;
    height: 222px;
    align-items: center; }
  .carousel img {
    height: 27px;
    width: 137px; }

.footerContentContainer .footerContact {
  display: flex;
  margin: auto;
  width: 70%;
  justify-content: space-evenly;
  padding: 4% 0 4% 0; }
  .footerContentContainer .footerContact #footerLeft {
    width: 271px; }
  .footerContentContainer .footerContact h3 {
    margin-bottom: 0; }
  .footerContentContainer .footerContact #footerRight {
    line-height: 2.5;
    display: flex; }

footer {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
  height: 40px;
  align-items: center; }
  footer .icons {
    display: inline-flex;
    align-items: center; }
    footer .icons img {
      width: 14px;
      height: 14px;
      padding: 0 10px 0 10px; }

.aboutLandingPage {
  height: 300px;
  display: flex; }
  .aboutLandingPage .aboutLandingPageContent {
    margin: auto;
    width: 70%; }
    .aboutLandingPage .aboutLandingPageContent a {
      text-decoration: none; }

.welcomeSection {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto;
  width: 70%;
  padding: 10% 0 10% 0; }
  .welcomeSection img {
    width: 570px;
    height: 380px; }
  .welcomeSection .welcomeSectionImgs {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px; }
  .welcomeSection button {
    height: 30px;
    width: 130px; }
  .welcomeSection button:hover {
    width: 150px;
    padding: 5px; }

.aboutWhoAreWe {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: auto;
  background-color: #f6f6f6;
  height: 550px; }
  .aboutWhoAreWe .aboutWhoAreWeContent {
    margin-right: 30%; }
  .aboutWhoAreWe img {
    width: 910px;
    height: 550px; }
  .aboutWhoAreWe .aboutWhoAreWeImgs {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px; }

.skillsStats .skillsStatsContent {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-evenly; }

.portfolioLandingPage {
  height: 300px;
  display: flex; }
  .portfolioLandingPage .portfolioLandingPageContent {
    margin: auto;
    width: 70%; }

.portfolioContent {
  margin: auto;
  width: 70%;
  padding: 10% 0 10% 0; }

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: auto;
  justify-items: center; }

.column img {
  margin-top: 8px;
  vertical-align: middle; }

.galleryBtn {
  margin: auto;
  width: 70%;
  padding: 50px; }
  .galleryBtn a {
    padding: 8px 16px; }

.contactLandingPage {
  height: 300px;
  display: flex; }
  .contactLandingPage .contactLandingPageContent {
    margin: auto;
    width: 70%; }

.contactForm {
  padding: 5% 0 5% 0; }
  .contactForm .form {
    display: flex;
    width: 70%;
    margin: auto;
    grid-column-gap: 50px; }
    .contactForm .form .contactSearchBar input {
      width: 180px;
      margin: 10px 0 10px 0; }
    .contactForm .form .contactMsgBox input {
      height: 170px;
      width: 560px; }

.map {
  width: 100%;
  height: 60vh; }

.coursesLandingPage {
  height: 300px;
  display: flex; }
  .coursesLandingPage .coursesLandingPageContent {
    margin: auto;
    width: 70%; }

.coursesPageContent {
  margin: auto;
  width: 70%;
  padding: 10% 0 10% 0; }
  .coursesPageContent .cartItemsColumn1 {
    margin: 2%; }
    .coursesPageContent .cartItemsColumn1 p {
      padding: 30px; }
    .coursesPageContent .cartItemsColumn1 button {
      height: 30px;
      width: 130px;
      margin-top: 50px; }
  .coursesPageContent .cartItemsColumn2 {
    margin: 2%; }
    .coursesPageContent .cartItemsColumn2 p {
      padding: 30px; }
    .coursesPageContent .cartItemsColumn2 button {
      height: 30px;
      width: 130px;
      margin-top: 50px; }
  .coursesPageContent .cartItemsColumn3 {
    margin: 2%; }
    .coursesPageContent .cartItemsColumn3 p {
      padding: 30px; }
    .coursesPageContent .cartItemsColumn3 button {
      height: 30px;
      width: 130px;
      margin-top: 50px; }

.coursesColumns {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: auto;
  justify-items: center;
  text-align: center; }

.navBar {
  text-align: center;
  background-color: #f9f9f9;
  font-size: 0.875em;
  line-height: 30px; }
  .navBar a {
    text-decoration: none; }
  .navBar .searchBar {
    text-align: right; }

.landingPage {
  text-align: center;
  display: flex; }
  .landingPage h1 {
    font-size: 3.125em;
    font-weight: 600px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 53px;
    letter-spacing: normal;
    text-align: center; }
  .landingPage .landingPageContent {
    margin: auto;
    width: 70%; }
    .landingPage .landingPageContent p {
      font-size: 0.906em;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.79;
      letter-spacing: normal;
      text-align: center; }
  .landingPage #btn1 {
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 600;
    background-color: #e2a19a;
    border: 1px solid #f9f9f9; }
  .landingPage #btn2 {
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #f9f9f9; }
  .landingPage #btn1:hover {
    background-color: #e2a19a;
    transition: all 0.5s;
    border: none; }
  .landingPage #btn2:hover {
    transition: all 0.5s;
    border: none;
    background-color: rgba(0, 0, 0, 0.5); }

.whoAreWe h3 {
  font-size: 1.5em;
  margin-top: 0; }
.whoAreWe #firstParagraph {
  font-size: 1em; }
.whoAreWe p {
  font-size: 0.875em; }
.whoAreWe button {
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid #666666;
  font-weight: 600; }
.whoAreWe button:hover {
  transition: all 0.5s;
  padding: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1); }

.courses {
  text-align: center;
  background-color: black; }
  .courses h5 {
    font-size: 0.938em; }
  .courses p {
    font-size: 0.875em; }

.ourExcitingCourses h3 {
  font-size: 1.5em; }
.ourExcitingCourses p {
  font-size: 0.875em; }

.meetOurTeam h6 {
  font-size: 1em; }
.meetOurTeam small {
  font-size: 0.875em;
  font-weight: 600; }
.meetOurTeam p {
  font-size: 0.875em; }
.meetOurTeam .socialIcons {
  display: flex;
  justify-content: space-evenly;
  width: 60%; }
  .meetOurTeam .socialIcons a {
    text-decoration: none;
    color: #e2a19a; }

.stats {
  text-align: center;
  background-color: black; }
  .stats .statsContent h5 {
    border-top: 5px solid #e1918a;
    font-size: 1.875em; }
  .stats .statsContent p {
    font-size: 1em; }

.subscribe {
  text-align: center; }
  .subscribe h3 {
    font-size: 1.25em; }
  .subscribe p {
    font-size: 0.875em; }
  .subscribe #submitBtn {
    text-align: center; }
    .subscribe #submitBtn input {
      background-color: #f9f9f9;
      text-align: left;
      border-radius: 3px;
      border: none;
      font-size: 0.875em; }
    .subscribe #submitBtn button {
      background-color: #e2a19a;
      border-radius: 3px;
      border: none; }

.carousel {
  align-items: center; }
  .carousel #carouselImgs {
    background-color: black;
    align-items: center; }

.footerContentContainer {
  background-color: #f9f9f9; }
  .footerContentContainer .footerContact h3 {
    font-size: 1em; }
  .footerContentContainer .footerContact p {
    font-size: 0.875em; }
  .footerContentContainer .footerContact #footerRight {
    line-height: 2.5; }

footer {
  background-color: pink;
  font-size: 0.938em; }

.aboutLandingPage {
  background-color: #818181;
  text-align: center; }
  .aboutLandingPage .aboutLandingPageContent {
    margin: auto;
    width: 70%; }
    .aboutLandingPage .aboutLandingPageContent h1 {
      font-size: 1.875em; }
    .aboutLandingPage .aboutLandingPageContent p {
      font-size: 0.875em; }
    .aboutLandingPage .aboutLandingPageContent a {
      text-decoration: none; }

.welcomeSection h3 {
  font-size: 1.5em;
  margin-top: 0; }
.welcomeSection p {
  font-size: 1em; }
.welcomeSection img {
  border: 1px solid black; }
.welcomeSection button {
  border-radius: 3px;
  background-color: #e2a19a;
  font-weight: 600;
  border: none; }
.welcomeSection button:hover {
  transition: all 0.5s;
  border: none;
  background-color: rgba(0, 0, 0, 0.1); }

.aboutWhoAreWe {
  background-color: #f6f6f6; }
  .aboutWhoAreWe h3 {
    margin-top: 0; }
  .aboutWhoAreWe img {
    border: 1px solid black; }

.skillsStats {
  text-align: center;
  background-color: black; }
  .skillsStats .skillsStatsContent hr {
    border-radius: 50%; }
  .skillsStats .skillsStatsContent h5 {
    font-size: 1.875em;
    margin-bottom: 0; }
  .skillsStats .skillsStatsContent p {
    font-size: 1em; }

.portfolioLandingPage {
  background-color: #818181;
  text-align: center; }
  .portfolioLandingPage .portfolioLandingPageContent a {
    text-decoration: none; }
  .portfolioLandingPage .portfolioLandingPageContent h1 {
    font-size: 1.875em; }
  .portfolioLandingPage .portfolioLandingPageContent p {
    font-size: 0.875em; }

.portfolioContent {
  text-align: center; }

.portfolioGallery .portfolioImgs .row .column img img:hover {
  transition: all 0.9s;
  transform: scale(1.5); }

.row {
  background-color: #818181; }

.galleryBtn {
  margin: auto;
  width: 70%;
  text-align: center;
  color: #666666;
  padding: 3.125em; }
  .galleryBtn a {
    border: 1px solid #666666;
    text-decoration: none; }

.contactLandingPage {
  background-color: #818181;
  text-align: center; }
  .contactLandingPage .contactLandingPageContent a {
    text-decoration: none; }
  .contactLandingPage .contactLandingPageContent h1 {
    font-size: 1.875em; }
  .contactLandingPage .contactLandingPageContent p {
    font-size: 0.875em; }

.map {
  background-color: #666666; }

.coursesLandingPage {
  background-color: #818181;
  text-align: center; }
  .coursesLandingPage .coursesLandingPageContent a {
    text-decoration: none; }
  .coursesLandingPage .coursesLandingPageContent h1 {
    font-size: 1.875em; }
  .coursesLandingPage .coursesLandingPageContent p {
    font-size: 0.875em; }

.coursesPageContent {
  text-align: center; }
  .coursesPageContent .cartItemsColumn1 p {
    border: solid 1px #818181; }
  .coursesPageContent .cartItemsColumn1 button {
    background-color: #e2a19a;
    font-weight: 600;
    border: none; }
  .coursesPageContent .cartItemsColumn2 p {
    border: solid 1px #818181; }
  .coursesPageContent .cartItemsColumn2 button {
    border-radius: 3px;
    background-color: #e2a19a;
    font-weight: 600;
    border: none; }
  .coursesPageContent .cartItemsColumn3 p {
    border: solid 1px #818181; }
  .coursesPageContent .cartItemsColumn3 button {
    border-radius: 3px;
    font-family: Poppins;
    background-color: #e2a19a;
    font-weight: 600;
    border: none; }

.coursesColumns {
  text-align: center; }

.menu {
  display: none;
  transition: 0.1s transform linear;
  position: sticky;
  background: 0;
  float: none;
  margin: 2rem;
  height: 2.7rem;
  width: 3.5rem;
  z-index: 1;
  outline: 0;
  padding: 0;
  border: 0;
  top: 0; }

.bar, .bar::before, .bar::after {
  transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
  position: absolute;
  background: #000;
  margin: auto;
  width: 100%;
  height: 0.3rem;
  content: '';
  top: 50%;
  left: 0; }
.bar {
  margin-top: -0.2rem; }
.bar::before {
  top: -1.2rem; }
.bar::after {
  top: 1.2rem; }
.bar::before, .bar::after {
  transform: rotate(0deg); }
.active .bar {
  background: 0; }
  .active .bar::before {
    transform: rotate(45deg); }
  .active .bar::after {
    transform: rotate(-45deg); }
  .active .bar::before, .active .bar::after {
    top: 0; }
  .active .bar, .active .bar::before, .active .bar::after {
    transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s; }

.mobile {
  width: 200px;
  height: 100%;
  background: #e2a19a;
  position: fixed;
  transform: translateX(-250px);
  transition: transform 0.6s cubic-bezier(0.56, 0.1, 0.34, 0.91);
  padding-top: 3.2rem;
  display: none; }
  .menu-open .mobile {
    transform: translateX(0); }
  .mobile ul {
    margin: 0;
    list-style: none;
    padding: 0; }
    .mobile ul li {
      padding: 20px 5px;
      font-size: 1.5em; }
      .mobile ul li a {
        text-decoration: none;
        color: #f9f9f9; }
      .mobile ul li:hover {
        background: #818181; }

@media (max-width: 900px) {
  .navBar {
    display: none; }

  .mobile {
    display: block; }

  .menu {
    display: block; }

  .landingPage {
    height: auto;
    display: flex;
    background-image: none;
    background-color: #666666; }
    .landingPage .landingPageContent {
      margin: auto;
      width: 70%; }
    .landingPage .homePageBtns {
      display: grid;
      width: 35%;
      margin: auto;
      grid-row-gap: 5%; }
    .landingPage #btn1 {
      display: inline-block;
      width: 100%;
      height: auto; }
    .landingPage #btn2 {
      display: inline-block;
      width: 100%;
      height: auto; }
    .landingPage #btn1:hover {
      width: 180px;
      padding: 5px; }
    .landingPage #btn2:hover {
      width: 180px;
      padding: 5px; }

  .whoAreWe {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10%;
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0;
    text-align: center;
    grid-row-gap: 10% img;
      grid-row-gap-width: 100%;
      grid-row-gap-height: 70%; }
    .whoAreWe .whoAreWeImgs {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 10px; }
    .whoAreWe button {
      height: 30px;
      width: 130px; }
    .whoAreWe button:hover {
      width: 150px;
      padding: 5px; }

  .courses .coursesContent {
    width: 70%;
    padding: 4% 0 4% 0;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 30px; }
  .courses h5 {
    margin-top: 0; }
  .courses img {
    width: 15%;
    height: auto;
    margin: 30px 0 0 0; }

  .ourExcitingCourses {
    margin: auto;
    width: 70%;
    padding: 10% 0 2.5% 0;
    display: grid;
    grid-template-columns: auto;
    text-align: center; }
    .ourExcitingCourses img {
      height: auto;
      width: 100%; }
    .ourExcitingCourses .imgsContainer {
      display: inline-flex;
      margin-top: 30px; }
      .ourExcitingCourses .imgsContainer #ourExcitingCoursesImgs {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px; }
    .ourExcitingCourses .spanImg img {
      margin-left: 19px;
      display: none; }

  .meetOurTeam {
    margin: auto;
    width: 70%;
    padding: 2.5% 0 10% 0;
    text-align: center; }
    .meetOurTeam #headingMeetOurTeam {
      display: inline-grid; }
    .meetOurTeam img {
      height: auto;
      width: 100%; }
    .meetOurTeam #meetOurTeamImgs {
      display: grid;
      grid-template-columns: auto; }
      .meetOurTeam #meetOurTeamImgs .container {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px; }

  .stats {
    height: auto; }
    .stats .statsContent {
      width: 70%;
      margin: auto;
      display: grid;
      grid-template-columns: auto auto; }

  .subscribe {
    margin: auto;
    width: 70%; }
    .subscribe #submitBtn {
      display: grid;
      text-align: center;
      grid-row-gap: 10%; }
      .subscribe #submitBtn input {
        width: 100%;
        height: 40px;
        text-align: center; }
      .subscribe #submitBtn button {
        width: 100%;
        height: 42px; }

  .carousel {
    display: flex;
    align-items: center; }
    .carousel #carouselImgs {
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: space-evenly;
      height: 222px;
      align-items: center; }
    .carousel img {
      height: 27px;
      width: 137px; }

  .footerContentContainer .footerContact {
    display: grid;
    margin: auto;
    width: 70%;
    justify-content: space-evenly;
    padding: 4% 0 4% 0;
    text-align: center; }
    .footerContentContainer .footerContact #footerLeft {
      width: 100%; }
    .footerContentContainer .footerContact h3 {
      margin-bottom: 0; }
    .footerContentContainer .footerContact #footerRight {
      line-height: 2.5;
      display: grid;
      grid-template-columns: auto auto auto; }

  footer {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    align-items: center; }
    footer .icons {
      display: inline-flex;
      align-items: center; }
      footer .icons img {
        width: 14px;
        height: 14px;
        padding: 0 10px 0 10px; }

  .aboutLandingPage {
    height: 300px;
    display: flex; }
    .aboutLandingPage .aboutLandingPageContent {
      margin: auto;
      width: 70%; }
      .aboutLandingPage .aboutLandingPageContent a {
        text-decoration: none; }

  .welcomeSection {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0;
    text-align: center;
    height: auto; }
    .welcomeSection img {
      width: 100%;
      height: auto; }
    .welcomeSection .welcomeSectionImgs {
      display: grid;
      grid-template-columns: auto;
      width: 100%;
      height: auto;
      grid-gap: 10px; }
    .welcomeSection button {
      height: 30px;
      width: 130px; }
    .welcomeSection button:hover {
      width: 150px;
      padding: 5px; }

  .aboutWhoAreWe {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    margin: auto;
    background-color: #f6f6f6;
    height: auto;
    text-align: center; }
    .aboutWhoAreWe .aboutWhoAreWeContent {
      margin: auto;
      width: 70%; }
    .aboutWhoAreWe img {
      width: 100%;
      height: auto; }
    .aboutWhoAreWe .aboutWhoAreWeImgs {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px; }

  .skillsStats .skillsStatsContent {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto; }

  .portfolioLandingPage {
    height: 300px;
    display: flex; }
    .portfolioLandingPage .portfolioLandingPageContent {
      margin: auto;
      width: 70%; }

  .portfolioContent {
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0; }

  .row {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    justify-items: center; }

  .column img {
    margin-top: 8px;
    vertical-align: middle; }

  .galleryBtn {
    margin: auto;
    width: 70%;
    padding: 50px; }
    .galleryBtn a {
      padding: 8px 16px; }

  .contactLandingPage {
    height: 300px;
    display: flex; }
    .contactLandingPage .contactLandingPageContent {
      margin: auto;
      width: 70%; }

  .contactForm {
    padding: 5% 0 5% 0; }
    .contactForm .form {
      display: grid;
      grid-template-columns: 1fr;
      width: 70%;
      margin: auto;
      text-align: center; }
      .contactForm .form .contactSearchBar {
        display: grid;
        grid-template-columns: 1fr; }
        .contactForm .form .contactSearchBar input {
          width: 100% x;
          margin: 10px 0 10px 0; }
      .contactForm .form .contactMsgBox input {
        height: 170px;
        width: 100%; }

  .map {
    width: 100%;
    height: 60vh; }

  .coursesLandingPage {
    height: 300px;
    display: flex; }
    .coursesLandingPage .coursesLandingPageContent {
      margin: auto;
      width: 70%; }

  .coursesPageContent {
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0; }
    .coursesPageContent .cartItemsColumn1 {
      margin: 2%; }
      .coursesPageContent .cartItemsColumn1 p {
        padding: 30px; }
      .coursesPageContent .cartItemsColumn1 button {
        height: 30px;
        width: 130px;
        margin-top: 50px; }
    .coursesPageContent .cartItemsColumn2 {
      margin: 2%; }
      .coursesPageContent .cartItemsColumn2 p {
        padding: 30px; }
      .coursesPageContent .cartItemsColumn2 button {
        height: 30px;
        width: 130px;
        margin-top: 50px; }
    .coursesPageContent .cartItemsColumn3 {
      margin: 2%; }
      .coursesPageContent .cartItemsColumn3 p {
        padding: 30px; }
      .coursesPageContent .cartItemsColumn3 button {
        height: 30px;
        width: 130px;
        margin-top: 50px; }

  .coursesColumns {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
    justify-items: center;
    text-align: center; } }
@media (max-width: 650px) {
  .navBar {
    display: none; }

  .mobile {
    display: block; }

  .menu {
    display: block; }

  .landingPage {
    height: auto;
    display: flex;
    background-image: none;
    background-color: #666666; }
    .landingPage .landingPageContent {
      margin: auto;
      width: 70%;
      font-size: 0.875em; }
    .landingPage .homePageBtns {
      display: grid;
      width: 35%;
      margin: auto;
      grid-row-gap: 5%; }
      .landingPage .homePageBtns button {
        font-size: 0.875em; }
    .landingPage #btn1 {
      display: inline-block;
      width: 100%;
      height: auto; }
    .landingPage #btn2 {
      display: inline-block;
      width: 100%;
      height: auto; }
    .landingPage #btn1:hover {
      width: 180px;
      padding: 5px; }
    .landingPage #btn2:hover {
      width: 180px;
      padding: 5px; }

  .whoAreWe {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0;
    text-align: center; }
    .whoAreWe img {
      width: 100%;
      height: auto; }
    .whoAreWe .whoAreWeImgs {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px; }
    .whoAreWe button {
      height: 30px;
      width: 130px; }
    .whoAreWe button:hover {
      width: 150px;
      padding: 5px; }

  .courses .coursesContent {
    width: 70%;
    padding: 4% 0 4% 0;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 30px; }
  .courses h5 {
    margin-top: 0; }
  .courses img {
    width: 35%;
    height: auto;
    margin: 30px 0 0 0; }

  .ourExcitingCourses {
    margin: auto;
    width: 70%;
    padding: 10% 0 2.5% 0;
    display: grid;
    grid-template-columns: auto;
    text-align: center; }
    .ourExcitingCourses img {
      height: auto;
      width: 100%; }
    .ourExcitingCourses .imgsContainer {
      display: inline-flex;
      margin-top: 30px; }
      .ourExcitingCourses .imgsContainer #ourExcitingCoursesImgs {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px; }
    .ourExcitingCourses .spanImg img {
      margin-left: 19px;
      display: none; }

  .meetOurTeam {
    margin: auto;
    width: 70%;
    padding: 2.5% 0 10% 0;
    text-align: center; }
    .meetOurTeam #headingMeetOurTeam {
      display: inline-grid; }
    .meetOurTeam img {
      height: auto;
      width: 100%; }
    .meetOurTeam #meetOurTeamImgs {
      display: grid;
      grid-template-columns: auto; }
      .meetOurTeam #meetOurTeamImgs .container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px; }

  .stats {
    height: auto; }
    .stats .statsContent {
      width: 70%;
      margin: auto;
      display: grid;
      grid-template-columns: auto; }

  .subscribe {
    margin: auto;
    width: 70%; }
    .subscribe #submitBtn {
      display: grid;
      text-align: center;
      grid-row-gap: 10%; }
      .subscribe #submitBtn input {
        width: 100%;
        height: 40px;
        text-align: center; }
      .subscribe #submitBtn button {
        width: 100%;
        height: 42px; }

  .carousel {
    display: flex;
    align-items: center; }
    .carousel #carouselImgs {
      display: flex;
      width: 100%;
      margin: auto;
      justify-content: space-evenly;
      height: 222px;
      align-items: center; }
    .carousel img {
      height: 27px;
      width: 137px; }

  .footerContentContainer .footerContact {
    display: grid;
    margin: auto;
    width: 70%;
    justify-content: space-evenly;
    padding: 4% 0 4% 0;
    text-align: center; }
    .footerContentContainer .footerContact #footerLeft {
      width: 271px; }
    .footerContentContainer .footerContact h3 {
      margin-bottom: 0; }
    .footerContentContainer .footerContact #footerRight {
      line-height: 2.5;
      display: grid;
      grid-template-columns: 1fr; }

  footer {
    width: 100%;
    justify-content: space-evenly;
    height: auto;
    align-items: center;
    grid-template-columns: auto; }
    footer .icons {
      display: inline-flex;
      align-items: center; }
      footer .icons img {
        width: 14px;
        height: 14px;
        padding: 0 10px 0 10px; }

  .aboutLandingPage {
    height: 300px;
    display: flex; }
    .aboutLandingPage .aboutLandingPageContent {
      margin: auto;
      width: 70%; }
      .aboutLandingPage .aboutLandingPageContent a {
        text-decoration: none; }

  .welcomeSection {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0;
    text-align: center;
    height: auto; }
    .welcomeSection img {
      width: 100%;
      height: auto; }
    .welcomeSection .welcomeSectionImgs {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px; }
    .welcomeSection button {
      height: 30px;
      width: 130px; }
    .welcomeSection button:hover {
      width: 150px;
      padding: 5px; }

  .aboutWhoAreWe {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    margin: auto;
    background-color: #f6f6f6;
    height: auto;
    text-align: center; }
    .aboutWhoAreWe .aboutWhoAreWeContent {
      margin: auto;
      width: 70%; }
    .aboutWhoAreWe img {
      width: 100%;
      height: auto; }
    .aboutWhoAreWe .aboutWhoAreWeImgs {
      display: grid;
      grid-template-columns: auto;
      grid-gap: 10px; }

  .skillsStats .skillsStatsContent {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr;
    height: auto; }

  .portfolioLandingPage {
    height: 300px;
    display: flex; }
    .portfolioLandingPage .portfolioLandingPageContent {
      margin: auto;
      width: 70%; }

  .portfolioContent {
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0; }

  .row {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-items: center; }

  .column img {
    margin-top: 8px;
    vertical-align: middle; }

  .galleryBtn {
    margin: auto;
    width: 70%;
    padding: 50px; }
    .galleryBtn a {
      padding: 8px 16px; }

  .contactLandingPage {
    height: 300px;
    display: flex; }
    .contactLandingPage .contactLandingPageContent {
      margin: auto;
      width: 70%; }

  .contactForm {
    padding: 5% 0 5% 0; }
    .contactForm .form {
      display: grid;
      grid-template-columns: 1fr;
      width: 70%;
      margin: auto;
      text-align: center; }
      .contactForm .form .contactSearchBar {
        display: grid;
        grid-template-columns: 1fr; }
        .contactForm .form .contactSearchBar input {
          width: 100%;
          margin: 10px 0 10px 0; }
      .contactForm .form .contactMsgBox input {
        height: 170px;
        width: 100%; }

  .map {
    width: 100%;
    height: 60vh; }

  .coursesLandingPage {
    height: 300px;
    display: flex; }
    .coursesLandingPage .coursesLandingPageContent {
      margin: auto;
      width: 70%; }

  .coursesPageContent {
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0; }
    .coursesPageContent .cartItemsColumn1 {
      margin: 2%; }
      .coursesPageContent .cartItemsColumn1 p {
        padding: 30px; }
      .coursesPageContent .cartItemsColumn1 button {
        height: 30px;
        width: 130px;
        margin-top: 50px; }
    .coursesPageContent .cartItemsColumn2 {
      margin: 2%; }
      .coursesPageContent .cartItemsColumn2 p {
        padding: 30px; }
      .coursesPageContent .cartItemsColumn2 button {
        height: 30px;
        width: 130px;
        margin-top: 50px; }
    .coursesPageContent .cartItemsColumn3 {
      margin: 2%; }
      .coursesPageContent .cartItemsColumn3 p {
        padding: 30px; }
      .coursesPageContent .cartItemsColumn3 button {
        height: 30px;
        width: 130px;
        margin-top: 50px; }

  .coursesColumns {
    display: grid;
    grid-template-columns: auto;
    margin: auto;
    justify-items: center;
    text-align: center; } }

/*# sourceMappingURL=main.css.map */
