// home page styling
html {
    font-family: $font-family;
}
.navBar {
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 30px;
img {
    height: 50px;
    position: relative;
    right: 300px;

}

// links styling for navbar 
a {
    text-decoration: none;
    padding: 10px;
    color: #666666;
}    
a:hover {
    color: #e2a19a;
}
.searchBar {
    text-align: right;
    color: #666666;
    display: flex;
    position: relative;
    left: 280px;
    i {
        color: #e2a19a;
    }
}
}

.landingPage {
    height: 100vh;
    // background-color: black;
    color: white;
    text-align: center;
    display: flex;
    background-image: url(../img/untitled-0932.jpg);
        background-size: cover;
    background-repeat: no-repeat;
    h1 {
        font-size: 50px;
        font-weight: 600px;
        font-size: 50px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 53px;
        letter-spacing: normal;
        text-align: center;
        color: #e8e8e8;
    }
    .landingPageContent {
        margin: auto;
        width: 70%;
        p {
            // width: 722px;
            // height: 41px;
            font-size: 14.5px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: center;
            color: #e8e8e8;
        }
    }
    // button styling starts here
#btn1 {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 600;
    background-color: #e2a19a;
    color: #e8e8e8;
    border: 1px solid white;
}
#btn2 {
    display: inline-block;
    width: 150px;
    height: 50px;
    border-radius: 3px;
    font-family: Poppins;
    font-weight: 600;
    background-color: transparent;
    color: #e8e8e8;
    border: 1px solid white;
}
#btn1:hover {
    background-color: #e2a19a;
    width: 180px;
    transition: all 0.5s;
    padding: 5px;
    border: none;
}
#btn2:hover {
    width: 180px;
    transition: all 0.5s;
    padding: 5px;
    border: none;
    background-color: rgba(0, 0, 0, 0.5);
}
}




.whoAreWe {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    // border: 1px solid black;
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0;
    h3 {
        font-size: 24px;
        color: #555555;
    }
    #firstParagraph {
        color: #555555;
        font-size: 16px;
    }
    // p {
    //     color: #666666;
    //     font-size: 14px;
    // }
    img {
        width: 270px;
        height: 213px;
        border: 1px solid black;
    }
    .whoAreWeImgs {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 10px;
        // border: 1px solid black;
      }
      button {
        height: 30px;
        width: 130px;
        border-radius: 3px;
        font-family: Poppins;
        background-color: transparent;
        border: 1px solid #666666;
        font-weight: 600;
    }
    button:hover {
        width: 150px;
        transition: all 0.5s;
        padding: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1)
    }
  }


.courses {
    text-align: center;
    color: white;
    background-color: black;
    .coursesContent {
        width: 70%;
        padding: 4% 0 4% 0;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        grid-column-gap: 30px;
    }
    h5 {
        font-size: 20px;
        margin-top: 0;
    }
    img {
        width: 30%;
        margin: 30px 0 0 0;
    }
}


.ourExcitingCourses {
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-gap: 10px;
    // border: 1px solid black;
    margin: auto;
    width: 70%;
    padding: 10% 0 2.5% 0;
    #headingExcitingCourses {
        display: inline-grid;
    }
    img {
        width: 280px;
        height: 200px;
        // border: 1px solid black;
    }
    .imgsContainer{
        display: inline-flex;
        #ourExcitingCoursesImgs {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 10px;
            // border: 1px solid black;
        }
    }
    .spanImg {
        img{
            height: 410px;
            width: 590px;
        }
    }
}

  

.meetOurTeam {
    // display: grid;
    // grid-template-columns: auto auto;
    // grid-gap: 10px;
    // border: 1px solid black;
    margin: auto;
    width: 70%;
    padding: 2.5% 0 10% 0;
    #headingMeetOurTeam {
        display: inline-grid;
    }
    img {
        width: 270px;
        height: 250px;
        // border: 1px solid black;
    }
    #meetOurTeamImgs {
        display: grid;
        grid-template-columns: auto auto;
        .container {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 10px;
            // border: 1px solid black;
          }
    }
    }


.stats {
    display: flex;
    text-align: center;
    background-color: black;
    color: white;
    height: 300px;
    .statsContent {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        h5 {
            border-top: 5px solid #e1918a;
        }
    }
}

.subscribe {
    text-align: center;
    padding: 4% 0 4% 0;
    #submitBtn {
        display: inline-flex;
        text-align: center;
        input {
            width: 370px;
            height: 40px;
            background-color: #f9f9f9;
            text-align: left;
            padding-left: 5%;
            border-radius: 3px;
            border: none;
        }
        button {
            width: 100px;
            height: 42px;
            background-color: #e2a19a;
            border-radius: 3px;
            border: none;
        }
    }
}

.carousel {
    display: flex;
    align-items: center;
    #carouselImgs{
        display: flex;
        background-color: black;
        width: 100%;
        margin: auto;
        justify-content: space-evenly;
        height: 222px;
        align-items: center;
    }
    img {
        height: 27px;
        width: 137px;
    }
}

.footerContentContainer {
    background-color: #f9f9f9;
    .footerContact {
        display: flex;
        margin: auto;
        width: 70%;
        justify-content: space-evenly;
        padding: 4% 0 4% 0;
        #footerLeft {
            width: 271px;
        }
        h3 {
            font-size: 16px;
            margin-bottom: 0;
        }
        p {
            font-size: 14px;
        }
        #footerRight {
            line-height: 2.5;
            display: flex;
        }
    }
}

footer {
    display: inline-flex;
    background-color: pink;
    width: 100%;
    justify-content: space-evenly;
    height: 40px;
    font-size: 14px;
    align-items: center;
    .icons {
        display: inline-flex;
        align-items: center;
        img {
            width: 14px;
            height: 14px;
            padding: 0 10px 0 10px;
        }
    }
}

// ------------------------------------------------------------------------------------------------

// about page styling


.aboutLandingPage {
    height: 300px;
    background-color: #818181;
    color: #555555;
    text-align: center;
    display: flex;
    .aboutLandingPageContent {
        margin: auto;
        width: 70%;
        // font-family: Poppins;
        a {
            text-decoration: none;
            color: #e2a19a;
        }
    }
}


.welcomeSection {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    // border: 1px solid black;
    margin: auto;
    width: 70%;
    padding: 10% 0 10% 0;
    h3 {
        font-size: 24px;
        color: #555555;
    }
    p {
        color: #555555;
        font-size: 16px;
    }
    img {
        width: 570px;
        height: 380px;
        border: 1px solid black;
    }
    .welcomeSectionImgs {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        // border: 1px solid black;
      }
    button {
        height: 30px;
        width: 130px;
        border-radius: 3px;
        font-family: Poppins;
        background-color: #e2a19a;
        font-weight: 600;
        border: none;
    }
    button:hover {
        width: 150px;
        transition: all 0.5s;
        padding: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1)
    }
}

  .aboutWhoAreWe {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    // border: 1px solid black;
    margin: auto;
    // width: 60%;
    background-color: #f6f6f6;
    height: 550px;
    .aboutWhoAreWeContent{
        // width: 300px;
        margin-right: 30%;
    }
    img {
        width: 910px;
        height: 550px;
        border: 1px solid black;
    }
    .aboutWhoAreWeImgs {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        // border: 1px solid black;
      }
  }

  .skillsStats {
    text-align: center;
    background-color: black;
    color: white;
    .skillsStatsContent {
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        hr {
            color:#e2a19a;
            border-radius: 50%;
        }
    }
}

// -------------------------------------------------------------------------------------------

// portfolio page styling

.portfolioLandingPage {
    height: 300px;
    background-color: #818181;
    color: #555555;
    text-align: center;
    display: flex;
    .portfolioLandingPageContent {
        margin: auto;
        width: 70%;
        a {
            text-decoration: none;
            color: #e2a19a;
        }
    }
}

.portfolioContent {
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 10% 0 10% 0;
}

.row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    // height: 300px;
    margin: auto;
    justify-items: center;
    background-color: #818181;
  }
  
//   .column {
//     flex: 15%;
//     max-width: 15%;
//     padding: 0 4px;
//   }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }

//   gallery button styling starts here
  .galleryBtn {
    margin: auto;
    width: 70%;
    text-align: center;
    color: grey;
    padding: 50px;
    a {
        border: 1px solid grey;
        padding: 8px 16px;
        text-decoration: none;
    }
  }

//   --------------------------------------------------------------------------------------

// contact page styling


// .form {color: #555555;}
// .contactSearchBar {color: #555555;}
// .contactMsgBox {color: #555555;}
// .contactInfo {color: #555555;}


//   .map {
//     width: 100%;
//     height: 60vh;
//     background-color: grey;
//   }
.contactLandingPage {
    height: 300px;
    background-color: #818181;
    color: #555555;
    text-align: center;
    display: flex;
    .contactLandingPageContent {
        margin: auto;
        width: 70%;
        // font-family: Poppins;
        a {
            text-decoration: none;
            color: #e2a19a;
        }
    }
}
.contactForm {
    padding: 5% 0 5% 0;
    // font-size: $font-size1;
    .form {
        display: flex;
        width: 70%;
        margin: auto;
        grid-column-gap: 50px;
        .contactSearchBar {
            input {
                width: 180px;
                margin: 10px 0 10px 0;
            }
        }
        .contactMsgBox {
            input {
                height: 170px;
                width: 560px;
            }
        }
    }
}

  .map {
    width: 100%;
    height: 60vh;
    background-color: grey;
  }

// -----------------------------------------------------------------------------------------------

//   courses page styling starts here

.coursesLandingPage {
    height: 300px;
    background-color: #818181;
    color: #555555;
    text-align: center;
    display: flex;
    .coursesLandingPageContent {
        margin: auto;
        width: 70%;
        a {
            text-decoration: none;
            color: #e2a19a;
        }
    }
}

.coursesPageContent {
    margin: auto;
    width: 70%;
    text-align: center;
    padding: 10% 0 10% 0;
    .cartItemsColumn1 {
        margin: 2%;
        p {
            border: solid 1px #818181;
            padding: 30px;
        }
        button {
            height: 30px;
            width: 130px;
            border-radius: 3px;
            font-family: Poppins;
            background-color: #e2a19a;
            font-weight: 600;
            border: none;
            margin-top: 50px;
        }
    }
    .cartItemsColumn2 {
        margin: 2%;
        p {
            border: solid 1px #818181;
            padding: 30px;
        }
        button {
            height: 30px;
            width: 130px;
            border-radius: 3px;
            font-family: Poppins;
            background-color: #e2a19a;
            font-weight: 600;
            border: none;
            margin-top: 50px;
        }
    }
    .cartItemsColumn3 {
        margin: 2%;
        p {
            border: solid 1px #818181;
            padding: 30px;
        }
        button {
            height: 30px;
            width: 130px;
            border-radius: 3px;
            font-family: Poppins;
            background-color: #e2a19a;
            font-weight: 600;
            border: none;
            margin-top: 50px;
        }
    }

}

.coursesColumns {
    display: grid;
    grid-template-columns: auto auto auto;
    margin: auto;
    justify-items: center;
    text-align: center;
  }
  