// home page styling
html {
    font-family: $font-family;
}

// navbar styling starts here
.navBar {
// links styling for navbar 
    a {
        color: $grey;
    }    
    a:hover {
        color: $pink;
    }
    .searchBar {
        color: $grey;
        i {
            color: $pink;
        }
    }
}

// home landing page starts here
.landingPage {
    color: $white;
    h1 {
        color: #e8e8e8;
    }
    .landingPageContent {
        p {
            color: #e8e8e8;
        }
    }
    // button styling starts here
    #btn1 {
        color: #e8e8e8;
    }
    #btn2 {
        color: #e8e8e8;
    }
}

// who are we section styling starts here
.whoAreWe {
    h3 {
        color: $light-grey;
    }
    #firstParagraph {
        color: $light-grey;

    }
}

// courses section styling starts here
.courses {
    color: $white;
}

// stats section styling starts here
.stats {
    color: $white;
}


// ------------------------------------------------------------------------------------------------

// about page styling

// about landing page section styling starts here
.aboutLandingPage {
    color: $light-grey;
    .aboutLandingPageContent {
        a {
            color: $pink;
        }
    }
}

// welcome section styling starts here
.welcomeSection {
    h3 {
        color: $light-grey;
    }
    p {
        color: $light-grey;
    }
}

  .skillsStats {
    color: $white;
    .skillsStatsContent {
        hr {
            color:$pink;
        }
    }
}

// -------------------------------------------------------------------------------------------

// portfolio page styling

// portfolio landing page section starts here
.portfolioLandingPage {
    color: $light-grey;
    .portfolioLandingPageContent {
        a {
            text-decoration: none;
            color: $pink;
        }
    }
}


//   gallery button styling starts here
.galleryBtn {
    color: $grey;
}

//   --------------------------------------------------------------------------------------

// contact page styling


// contact landing page section styling starts here
.contactLandingPage {
    color: $light-grey;
    .contactLandingPageContent {
        a {
            text-decoration: none;
            color: $pink;
        }
    }
}


// -----------------------------------------------------------------------------------------------

//   courses page styling starts here

// courses landing page section starts here
.coursesLandingPage {
    color: $light-grey;
    .coursesLandingPageContent {
        a {
            color: $pink;
        }
    }
}

  