// navbar styling starts here
.navBar {
    text-align: center;
    background-color: $white;
    font-size: $font-size8;
    line-height: 30px;

// links styling for navbar 
    a {
        text-decoration: none;
    }    
    .searchBar {
        text-align: right;
    }
}

// home landing page starts here
.landingPage {
    text-align: center;
    display: flex;
    h1 {
        font-size: $font-size1;
        font-weight: 600px;
        font-weight: 600;
        font-style: normal;
        font-stretch: normal;
        line-height: 53px;
        letter-spacing: normal;
        text-align: center;
    }
    .landingPageContent {
        margin: auto;
        width: 70%;
        p {
            font-size: $font-size7;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 1.79;
            letter-spacing: normal;
            text-align: center;
        }
    }
    // button styling starts here
    #btn1 {
        border-radius: 3px;
        font-family: Poppins;
        font-weight: 600;
        background-color: $pink;
        border: 1px solid $white;
    }
    #btn2 {
        border-radius: 3px;
        font-family: Poppins;
        font-weight: 600;
        background-color: transparent;
        border: 1px solid $white;
    }

    // button hover styling
    #btn1:hover {
        background-color: $pink;
        transition: all 0.5s;
        border: none;
    }
    #btn2:hover {
        transition: all 0.5s;
        border: none;
        background-color: $transparent-black;
    }
}

// who are we section styling starts here
.whoAreWe {
    h3 {
        font-size: $font-size3;
        margin-top: 0;
    }
    #firstParagraph {
        font-size: $font-size5;
    }
    p {
        font-size: $font-size8;
    }
    img {
        border: 1px solid black;
    }
    // img:hover {
    //     transition: all 0.9s;
    //     transform: scale(1.5);
    // }
    button {
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid $grey;
        font-weight: 600;
    }
    button:hover {
        transition: all 0.5s;
        padding: 5px;
        border: none;
        background-color: rgba(0, 0, 0, 0.1);
    }
}

// courses section styling starts here
.courses {
    text-align: center;
    background-color: black;
    h5 {
        font-size: $font-size6;
    }
    p {
        font-size: $font-size8;
    }
}

.ourExcitingCourses {
    h3 {
        font-size: $font-size3;
    }
    p {
        font-size: $font-size8;
    }
}

.meetOurTeam {
    h6 {
        font-size: $font-size5;
    }
    small {
        font-size: $font-size8;
        font-weight: 600;
    }
    p {
        font-size: $font-size8;
    }
}


// stats section styling starts here
.stats {
    text-align: center;
    background-color: black;
    .statsContent {
        h5 {
            border-top: 5px solid $lighter-pink;
            font-size: $font-size2;
        }
        p {
            font-size: $font-size5;
        }
    }
}

// subscribe section styling starts here
.subscribe {
    text-align: center;
    h3 {
        font-size: $font-size4;
    }
    p {
        font-size: $font-size8;
    }
    #submitBtn {
        text-align: center;
        input {
            background-color: $white;
            text-align: left;
            border-radius: 3px;
            border: none;
            font-size: $font-size8;
        }
        button {
            background-color: $pink;
            border-radius: 3px;
            border: none;
        }
    }
}

// carousel section styling starts heres
.carousel {
    align-items: center;
    #carouselImgs{
        background-color: black;
        align-items: center;
    }
}

// footer section styling starts here
.footerContentContainer {
    background-color: $white;
    .footerContact {
        h3 {
            font-size: $font-size5;
        }
        p {
            font-size: $font-size8;
        }
        #footerRight {
            line-height: 2.5;
        }
    }
}

footer {
    background-color: pink;
    font-size: $font-size6;
}

// ------------------------------------------------------------------------------------------------

// about page styling

// about landing page section styling starts here
.aboutLandingPage {
    background-color: $lighter-grey;
    text-align: center;
    .aboutLandingPageContent {
        margin: auto;
        width: 70%;
        h1 {
            font-size: $font-size2;
        }
        p {
            font-size: $font-size8;
        }
        // font-family: Poppins;
        a {
            text-decoration: none;
        }
    }
}

// welcome section styling starts here
.welcomeSection {
    h3 {
        font-size: $font-size3;
        margin-top: 0;
    }
    p {
        font-size: $font-size5;
    }
    img {
        border: 1px solid black;
    }
    button {
        border-radius: 3px;
        background-color: $pink;
        font-weight: 600;
        border: none;
    }
    button:hover {
        transition: all 0.5s;
        border: none;
        background-color: rgba(0, 0, 0, 0.1)
    }
}

// who are we section styling starts here
.aboutWhoAreWe {
    background-color: #f6f6f6;
    h3 {
        margin-top: 0;
    }
    img {
        border: 1px solid black;
    }
}

.skillsStats {
    text-align: center;
    background-color: black;
    .skillsStatsContent {
        hr {
            border-radius: 50%;
        }
        h5 {
            font-size: $font-size2;
            margin-bottom: 0;
        }
        p {
            font-size: $font-size5;
        }
    }
}

// -------------------------------------------------------------------------------------------

// portfolio page styling

// portfolio landing page section starts here
.portfolioLandingPage {
    background-color: $lighter-grey;
    text-align: center;
    .portfolioLandingPageContent {
        a {
            text-decoration: none;
        }
        h1 {
            font-size: $font-size2;
        }
        p {
            font-size: $font-size8;
        }
    }
}

// portfolio section styling starts here
.portfolioContent {
    text-align: center;
}

.row {
    background-color: $lighter-grey;
}


//   gallery button styling starts here
  .galleryBtn {
    margin: auto;
    width: 70%;
    text-align: center;
    color: $grey;
    padding: $font-size1;
    a {
        border: 1px solid $grey;
        text-decoration: none;
    }
  }

//   --------------------------------------------------------------------------------------

// contact page styling


// contact landing page section styling starts here
.contactLandingPage {
    background-color: $lighter-grey;
    text-align: center;
    .contactLandingPageContent {
        a {
            text-decoration: none;
        }
        h1 {
            font-size: $font-size2;
        }
        p {
            font-size: $font-size8;
        }
    }
}

.map {
    background-color: $grey;
}

// -----------------------------------------------------------------------------------------------

//   courses page styling starts here

// courses landing page section starts here
.coursesLandingPage {
    background-color: $lighter-grey;
    text-align: center;
    .coursesLandingPageContent {
        a {
            text-decoration: none;
        }
        h1 {
            font-size: $font-size2;
        }
        p {
            font-size: $font-size8;
        }
    }
}

// courses content section styling starts here
.coursesPageContent {
    text-align: center;
    .cartItemsColumn1 {
        p {
            border: solid 1px $lighter-grey;
        }
        button {
            background-color: $pink;
            font-weight: 600;
            border: none;
        }
    }
    .cartItemsColumn2 {
        p {
            border: solid 1px $lighter-grey;
        }
        button {
            border-radius: 3px;
            background-color: $pink;
            font-weight: 600;
            border: none;
        }
    }
    .cartItemsColumn3 {
        p {
            border: solid 1px $lighter-grey;
        }
        button {
            border-radius: 3px;
            font-family: Poppins;
            background-color: $pink;
            font-weight: 600;
            border: none;
        }
    }

}

.coursesColumns {
    text-align: center;
}
 






// -----------------------------------------------------------------------------------------------------------------------

// responsive navbar starts here

.menu {
    display: none;
	transition: 0.1s transform linear;
	position: sticky;
	background: 0;
	float: none;
	margin: 2rem;
	height: 2.7rem;
	width: 3.5rem;
	z-index: 1;
	outline: 0;
	padding: 0;
    border: 0;
    top: 0;
}

.bar {
	&, &::before, &::after {
		transition: 0.2s background linear 0.1s, 0.2s top linear 0.2s, 0.2s transform linear;
		position: absolute;
		background: #000;
		margin: auto;
		width: 100%;
		height: 0.3rem;
		content: '';
		top: 50%;
		left: 0;
	}

	& {
		margin-top: -0.2rem
	}

	&::before {
		top: -1.2rem;
	}

	&::after {
		top: 1.2rem;
	}

	&::before,
	&::after {
		transform: rotate(0deg);
	}

	.active & {
		background: 0;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}

		&::before,
		&::after {
			top: 0;
		}

		&,
		&::before,
		&::after {
			transition: 0.2s background linear 0.1s, 0.2s top linear, 0.2s transform linear 0.2s;
		}
	}
}

.mobile {
	width: 250px;
	height: 100%;
	background: #eaeaea;
	position: fixed;
	transform: translateX(-250px);
	transition: transform 0.6s cubic-bezier(.56,.1,.34,.91);
    padding-top: 6.2rem;
    display: none;

	.menu-open & {
		transform: translateX(0);
	}
	
	ul {
		margin: 0;
		list-style: none;
		padding: 0;
		
		li {
			padding: 20px 5px;
			font-size: 2rem;
			
			&:hover {
				background: blue;
			}
		}
	}
}