@font-face {
    font-family: 'Poppins';
    src: url("../fonts/Poppins-Regular.ttf");
  }


$pink: #e2a19a;
$lighter-pink: #e1918a;
$grey: #666666;
$lighter-grey: #818181; 
$light-grey: #555555;
$transparent-black: rgba(0, 0, 0, 0.5);
$white: #f9f9f9;
$font-weight: 600;


$font-size1: 3.125em;
$font-size2: 1.875em;
$font-size3: 1.500em;
$font-size4: 1.250em;
$font-size5: 1.000em;
$font-size6: 0.938em;
$font-size7: 0.906em;
$font-size8: 0.875em;


$font-family: Poppins;

  
